
<div class="main-wrapper">

	<div class="error-box">
		<h1> @(TempData["ErrorStatusCode"] ?? "404")</h1>
		<h3><i class="fa fa-warning"></i> @(TempData["ErrorTitle"] ?? "Oops! Page not found!")</h3>
		<p> @(TempData["ErrorMessage"] ?? "The page you requested was not found.")</p>
	</div>

</div>