/*-----------------
    11. Login
-----------------------*/

.account-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b438b;
    min-height: 100vh;
    padding: 20px;
}

.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 20px 0;
}

.account-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #6c757d;
}

.account-subtitle {
    color: #697a90;
    font-size: 1.125rem;
    margin-bottom: 30px;
    text-align: center;
}

.account-box {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.account-logo {
    margin-bottom: 30px;
    text-align: center;
}

    .account-logo img {
        max-width: 170px;
        width: 100%;
    }

.account-box .form-group {
    margin-bottom: 25px;
    text-align: left;
}

.account-box .account-btn {
    background-color: #ff6a00;
    color: #fff;
    border: 0;
    border-radius: 25px;
    display: block;
    font-size: 1.375rem;
    padding: 10px 26px;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease;
}

    .account-box .account-btn:hover,
    .account-box .account-btn:focus {
        background-color: #e65c00;
        color: #fff;
        border: 1px solid #e65c00;
        opacity: 0.9;
    }

.account-box .form-control {
    background-color: #fbfbfb;
    border: 1px solid #32c36c;
    border-radius: 25px;
    height: 46px;
}

.account-box label {
    color: #4d5a70;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.account-footer {
    text-align: center;
}

    .account-footer p {
        margin-bottom: 0;
        color: #ffffff;
    }

    .account-footer a {
        color: #ff6a00;
    }

        .account-footer a:hover {
            color: #e65c00;
        }

@media (max-width: 576px) {
    .account-title {
        font-size: 1.5rem;
    }

    .account-subtitle {
        font-size: 1rem;
    }

    .account-wrapper {
        padding: 20px;
    }

    .account-box .account-btn {
        font-size: 1.25rem;
        padding: 8px 20px;
    }
}
