@using PathFinder.DataTransferObjects.DTOs.Identity.Request
@model ResetPasswordDTO
@{
    Layout = "_LayoutAccount";
}
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">

            <!-- Account Logo -->
           
            <!-- /Account Logo -->

            <div class="account-box">
                <div class="account-wrapper">
                    <div class="account-logo">
                        <img src="\img\Pathfinder Logo Transparent.png" alt="Logo">
                    </div>
                    <h3 class="account-title">@CoreResources.ResetPassword</h3>

                    <!-- Account Form -->
                    <div class="row">
                        <form asp-controller="Account" asp-action="ResetPassword">
                            <input hidden asp-for="Token" />
                            <input hidden asp-for="Email" />
                            <input hidden asp-for="Code" />
                            <div class="form-group">
                                <label asp-for="Password" class="form-label">@CoreResources.NewPassword</label>
                                <div class="input-group ">
                                    <input asp-for="Password" type="password" class="form-control input-password" autocomplete="new-password" aria-required="true" placeholder=@CoreResources.Password />
                                    <span class="input-group-text"><i class="la la-eye-slash showPassword password"></i></span>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="form-label">@CoreResources.ConfirmPassword</label>
                                <div class="input-group ">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control input-confirm-password" autocomplete="new-password" aria-required="true" placeholder=@CoreResources.ConfirmPassword />
                                    <span class="input-group-text"><i class="la la-eye-slash showConfirmPassword confirm-password"></i></span>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button class="btn btn-primary btn-design account-btn">@CoreResources.ResetPassword</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account Form -->

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            let favicon = localStorage.getItem("favicon");
            let backendlogo = localStorage.getItem("logo");
            jQuery('link[rel="shortcut icon"]').attr('href', favicon);
            $('#logo').attr('src', backendlogo);
            let btnColor = localStorage.getItem("btnColor");
            if (btnColor != '')
                $('.btn-design').css('background', btnColor)
        });
    </script>
}